.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
text {
  font-size: 60%;
}
.point {
  fill: #000;
  stroke: #000;
}
.login {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.loginform {
  padding-left: 10px;
}
input {
  float: right;
}
.graph {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#logout {
  margin-top: 20px;
}
#metrics {
  margin-top: 20px;
}
table {
  margin-top: 20px;
}
